/* styles.css */
.container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background-color: #f4f4f9; /* Fondo claro para contrastar */
  min-height: 100vh; /* Asegura que el contenido ocupe toda la altura de la ventana */
}

.header {
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.flagimg {
  width: 300px;
  height: auto;
  border: 2px solid #007bff; /* Color de borde */
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  margin-bottom: 20px; /* Espacio debajo de la imagen */
}

.inputfield {
  padding: 12px;
  font-size: 16px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc; /* Color de borde más suave */
  margin-right: 10px; /* Espacio a la derecha del campo de entrada */
}

.submitbutton {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #28a745; /* Color verde */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Efecto suave en el botón */
}

.submitbutton:hover {
  background-color: #218838; /* Color verde más oscuro al pasar el mouse */
  transform: scale(1.05); /* Aumenta el tamaño del botón ligeramente */
}

.score {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #444; /* Color de texto */
}

